header.header
  .header__container
    .header__row
     .header__h1 ProKurs
     .header-phones
       span.header-phones__city.header-phones__city--active Москва
       span &nbsp;/&nbsp;
       span.header-phones__city Караганда
       a.header-phones__number(href="tel:+7(999)999-99-99") +7 (999) 999-99-99
    .header__h2 Курсы повышения знаний
    .header__h3 В Москве и Караганде
    .header-promotion-tabs
      .header-promotion-tabs__title-wrapper
        .header-promotion-tabs__title Скидки учащимся
        .header-promotion-tabs__title Дополнительные скидки
      .header-promotion-tabs__content-wrapper
        .header-promotion-tabs__tab-content
          ul.header-promotion-tabs__tab-ul
            li.header-promotion-tabs__tab-li
              i.icon-graduate-cap 10% владельцу карты на продолжение обучения на следующем уровне;
            li.header-promotion-tabs__tab-li
              i.icon-hamburger 5% предъявителю карты на все программы обучения;
            li.header-promotion-tabs__tab-li
              i.icon-earth 3–5% на обучение за рубежом.
          button.header-promotion-tabs__tab-button Начать обучение
        .header-promotion-tabs__tab-content
